fastapi>=0.115.0
uvicorn>=0.30.0
python-dotenv>=1.0.0
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-chroma>=0.1.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-experimental>=0.3.0
langgraph>=0.2.0
openai>=1.50.0
chromadb>=0.5.0
pandas>=2.0.0
SQLAlchemy>=2.0.0
asyncmy>=0.2.0
pydantic>=2.0.0
python-jobspy>=1.1.12
